<div class="grid p-fluid">
    <div class="col-6">
        <div class="field">
            <label for="name">Наименование вакцины</label>
            <input id="name" type="text" pInputText [(ngModel)]="vaccination.name">
        </div>
    </div>

    <div class="col-6 md:col-6">
        <div class="field">
            <label for="date">Дата вакцинации</label>
            <p-calendar
                id="date"
                [showIcon]="true"
                appendTo="body"
                [(ngModel)]="vaccination.date">
            </p-calendar>
        </div>
    </div>

    <div class="col-6 md:col-6">
        <div class="field">
            <label for="clinic">Название ветеринарной клинки</label>
            <input
                id="clinic"
                type="text"
                pInputText
                [(ngModel)]="vaccination.clinic"
            >
        </div>
    </div>

    <div class="col-6 md:col-6">
        <div class="field">
            <label for="vet">Ветеринарный врач (ФИО)</label>
            <input
                id="vet"
                type="text"
                pInputText
                [(ngModel)]="vaccination.vet"
            >
        </div>
    </div>

    <div class="col-12">
        <div class="flex justify-content-end">
            <button
                pButton
                label="Отмена"
                icon="pi pi-times"
                class="p-button-text mr-2"
                (click)="close()">
            </button>
            <button
                pButton
                label="Сохранить"
                icon="pi pi-check"
                (click)="save()">
            </button>
        </div>
    </div>
</div>

