<p-table [value]="weights" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-end">
            <p-button icon="pi pi-plus" (click)="openDialog()" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Дата</th>
            <th>Вес (кг)</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-weight>
        <tr>
            <td>{{weight.date | date:'dd.MM.yyyy'}}</td>
            <td>{{weight.weight}}</td>
        </tr>
    </ng-template>
</p-table>
